In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import seaborn as sns

In [2]:
plt.style.use('seaborn-v0_8-pastel')

In [3]:
SERVER = "10.177.73.36"      # IP o nombre del servidor
DATABASE = "ecobici"  # Nombre de la base de datos  
USERNAME = "ecobici"     # Tu usuario
PASSWORD = "Ec0b1c1"  # Tu contraseña
connection_string = f"mssql+pyodbc://{USERNAME}:{PASSWORD}@{SERVER}/{DATABASE}?driver=ODBC+Driver+17+for+SQL+Server&timeout=30"
engine = create_engine(connection_string)

In [ ]:
query = """
            SELECT
                BatchDate,
                BillTo_Email,
                BillTo_FirstName,
                BillTo_LastName,
                Status,
                Amount,
                Type,
                TypeDescription,
                AccountSuffix
            FROM dbo.Cybersource
            WHERE 
                BatchDate BETWEEN '2025-01-01 00:00:00' AND '2025-10-31 23:59:59';
            """

df_ingresos = pd.read_sql(query, engine)
df_ingresos

,BatchDate,BillTo_Email,BillTo_FirstName,BillTo_LastName,Status,Amount,Type,TypeDescription,AccountSuffix
0,2025-01-01T00:33:17Z,vizalvador85d@hotmail.com,SALVADOR,CONTRERAS,BATCHED,545.0,credit card,Visa,0809
1,2025-01-01T00:33:17Z,maoyou167@gmail.com,NA,LIU,BATCHED,26.0,credit card,Visa,2679
2,2025-01-01T00:33:18Z,ivanmendoza276@yahoo.com,IVAN,MENDOZA,BATCHED,245.0,credit card,Visa,3047
3,2025-01-01T00:33:17Z,rikkilethal@gmail.com,RIKKI,LETHAL,BATCHED,245.0,credit card,Visa,4066
4,2025-01-01T00:33:17Z,ylomeli92@gmail.com,YOVANI,LOMELI,BATCHED,245.0,credit card,Visa,9436
...,...,...,...,...,...,...,...,...,...
413981,2025-10-28T07:31:47Z,alescalona1930@gmail.com,ANA LAURA,ESCALONA ESCOBAR,BATCHED,108.0,credit card,Visa,6256
413982,2025-10-28T07:31:47Z,alheli.way2@hotmail.com,ALHELÍ,HERNÁNDEZ,BATCHED,566.0,credit card,Visa,7829
413983,2025-10-28T07:31:47Z,manulizcano96@hotmail.com,MANUEL,MARTINEZ LIZCANO,BATCHED,566.0,credit card,Visa,3442
413984,2025-10-28T07:31:47Z,juanpriegot@gmail.com,JUAN,PRIEGO,BATCHED,566.0,credit card,MasterCard,3038
413985,2025-10-28T07:31:47Z,mabsoldier@gmail.com,AMELIA,MALDONADO,BATCHED,566.0,credit card,MasterCard,5556